@import "../../global.scss";
@media (max-width:40em){
    .chart{
        max-width: 40em;
        // background-color: blue;
    }
}
.chart {
    display: flex;
    flex-direction: column;

    &.active {
        z-index: 0;
        opacity: 0.7;
        
    }
    .container {
        height: 500px;
        // background-color: #f7d046;

        background-image: url(../../EMC_Landing_Page_Graphic_Final-01.jpg);
        background-size: cover;
        background-position: 50% 50%;
        // batitlckground-color: blueviolet;
        width: inherit;
        display: flex;
        flex-direction: column;
        @media (max-width:40em) {
            height: 252px;
            max-width: 40em;
            width: inherit;
        }
        .title {
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width:40em) {
                margin-top: 24px;
                justify-content: center;
            }
            h1 {
                font-style: italic;
                font-size: 97px;
                color: #f7d046;
                letter-spacing: 4px;
                // src: local("Poppins-ExtraBold (1)"), url("../../fonts/Poppins-ExtraBold\ \(1\).ttf");
                font-family: "Rockids Regular";
                @media (max-width:40em) {
                    font-size: 40px;
                    letter-spacing:1px;
                }
            }
            // margin-left: 350px;
        }
        .contain {
            // background-color: blueviolet;
            margin-left: 20%;
            width: 52em;
            min-height: 300px;
            // margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 20%;
            @media (max-width: 40em) {
                justify-content: space-between;
                margin-left: 1%;
                margin-right: 2%;
                min-height: inherit;
                width: 90%;
                // background-color: blueviolet;
            }
            .spot {
                // background-color: red;
                // flex: 0.1;
                margin-left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:40em) {
                    // margin-right: 20px;
                    // margin-left: 220px;
                    justify-content: center;
                }
                span {
                    
                    font-size: 30px;
                    color: #f7d046;
                    font-weight: 400;
                    // src: local("Poppins-Bold"), url("../../fonts/Poppins-Bold.ttf");
                    font-family: "Poppins-Bold";
                    @media (max-width:40em) {
                        font-size: 40px;
                        font-family: "Rockids Regular";
                    }
                }
            }
            .embeded {
                // flex: 3;
                margin-left: 20px;
                width: 400px;
                height: 75%;
                // background-color: black;
                @media (max-width:40em) {
                    // background-color: red;
                    margin-left: 5px;
                    width: 1230px;
                    height: 83px;

                }
                iframe {
                    width: 25em;
                    height: 225px;
                    @media (max-width:40em) {
                        width: 123px;
                       height: 120px;
                        // background-color: red;
                    }
                }
                img {
                    width: 400px;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            .information {
                height: 60%;
                // background-color: black;
                // flex: 5;
                display: flex;
                flex-direction: column;
                @media (max-width:40em) {
                    // background-color: aqua;

                }
                // align-items: center;
                .song {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    @media (max-width:40em) {
                        justify-self: unset;
                        margin-top: 5px;
                    }
                    .songtitle {
                        @media (max-width:40em) {
                            background-color: brown;
                            max-height: 20px;
                        }
                        // margin-bottom: 2px;
                        span {
                            // font-family: Trebuchet MS, sans-serif;
                            font-size: 22px;
                            font-weight: 800;
                            color: #f7d046;
                            // src: local("Bold"), url("../../fonts/Poppins-SemiBold.ttf");
                            font-family: "Poppins-ExtraBold (1)";
                            @media (max-width:40em) {
                                font-size: 14px;
                                text-align: center;
                            }
                            // top100\src\fonts\Poppins-SemiBold.ttf
                        }
                    }
                    .artist {
                        margin-bottom: 10px;
                        span {
                            // top100\src\fonts\Poppins-B.ttf
                            font-size: 19px;
                            font-weight: 400;
                            // font-family: Trebuchet MS, sans-serif;
                            color: #f7d046;
                            // src: local("Poppins-Thin"), url("../../fonts/Poppins-Bold.ttf");
                            font-family: "Poppins-Regular";
                            @media (max-width:40em) {
                                font-size: 14px;
                            }
                        }
                    }
                }
                hr {
                    margin: 0 auto;
                    border-top: 1px solid #f7d046;
                    border-bottom: none;
                    width: 90%;
                    color: #f7d046;
                    @media (max-width:40em) {
                        width: 90%;
                    }
                    // margin-top:20px;
                    // margin-bottom: ;
                }
                .position {
                    // margin-top: 20px;
                    // background-color: blue;
                    // margin-top: 10px;
                    display: flex;
                    // align-items: center;
                    height: 100%;
                    .lastweek {
                        // background-color: red;
                        width: 150px;
                        margin-top: 20px;
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        flex-direction: column;
                        @media (max-width:40em) {
                            max-width: 60px;

                        }
                        .jio {
                            // font-family: Trebuchet MS, sans-serif;
                            // top100\src\fonts\Poppins-Bold.ttf
                            // src: local("Poppins-Thin"), url("../../fonts/Poppins-Light.ttf");
                            font-family: "Poppins-Regular";
                            font-size: 13px;
                            // font-weight: 400;
                            color: #f7d046;
                            @media (max-width:40em) {
                                font-size: 12px;
                            }
                        }
                        .num {
                            font-family: Trebuchet MS, sans-serif;

                            margin-top: 3px;
                            font-size: 19px;
                            font-weight: 400;
                            color: #f7d046;
                            // src: local("Poppins-Bold"), url("../../fonts/Poppins-Light.ttf");
                            font-family: "Poppins-Bold";
                            @media (max-width:40em) {
                                font-size: 16px;
                                margin-top: 0px;
                            }
                        }
                    }
                    .verticalline {
                        margin-top: 10px;
                        margin-left: 10px;
                        width: 0.1px;
                        background-color: #f7d046;
                        height: 80%;
                        float: left;
                        border-top: 0.5px solid;
                        border-bottom: none;
                    }
                }
            }
            .socilas {
                height: 70%;

                // background-color: #333333;
                display: flex;
                align-items: center;
                justify-content: center;
                .socialicon {
                    color: #f7d046;
                    cursor: pointer;
                }
                .iconsline {
                    display: flex;
                    // align-items: center;
                    // justify-content: center;
                    flex-direction: column;
                    //
                    .socialinfo {
                        width: 100%;
                        cursor: pointer;
                        padding: 2px 2px;
                        border: 0.5px solid #dddddd;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 7px;
                        .info {
                            color: #f7d046;
                            font-size: 11px;
                        }
                        .socialicon {
                            margin-right: 5px;
                            color: #f7d046;
                            font-size: 16px;
                        }
                    }
                    .socialinfo:hover {
                        cursor: pointer;
                        padding: 2px 2px;
                        border: 0.5px solid #dddddd;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 7px;
                        background-color: #dddddd;
                        .info {
                            color: crimson;
                            font-size: 11px;
                        }
                        .socialicon {
                            margin-right: 5px;
                            color: crimson;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .slider {
        // background-color: red;
        width: 100%;
        // margin-top:;
        // background-color: #43dde6;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;

        .leftslider {
            position: relative;
            top: 60px;
            // left: 10px;
            cursor: pointer;
            // color: black;
            // background-color: #303a52;
            img {
                // color: black;
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
        }
        .slidingness {
            margin-top: 100px;
            // margin-left: 150px;
            width: 60em;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            // margin-bottom: 100px;
            .slidertitle {
                display: flex;
                // align-items: center;
                flex-direction: column;
                span {
                    // font-family: Impact, sans-serif;
                    color: crimson;
                    font-size: 30px;
                    // margin-top: 10px;
                    // src: local("Poppins-Bold"), url("../../fonts/Poppins-ExtraBold (1).ttf");
                    font-family: "Poppins-Bold";
                    // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                }
            }
            .slidercomponent {
                margin-top: 40px;
                width: 400vw;
                transition: all 0.5s ease-in-out;
                margin-left: 5px;
                display: flex;
                align-items: center;

                // padding: 0 30px;
                // width              : 80em;
                .slidersaltogether {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 200px;
                    height: 220px;
                    .sliderimage {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color: #f7d046;
                        img {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .artistport {
                        margin-top: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .artistname {
                            // font-family: Arial Black, sans-serif;
                            // src: local("Poppins-Bold"), url("../../fonts/Poppins-Bold.ttf");
                            font-family: "Poppins-Bold";
                            font-size: 14px;
                            color: crimson;
                            font-weight: 400;
                            margin-bottom: 5px;
                        }
                        .artistsong {
                            // font-family: Trebuchet MS, sans-serif;
                            // src: local("Poppins-Light"), url("../../fonts/Poppins-Light.ttf");
                            font-family: "Poppins-thin";
                            font-size: 11px;
                            color: crimson;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .rightslider {
            position: relative;
            top: 60px;
            left: 50px;
            cursor: pointer;
            // right: 140px;
            // color: black;
            // background-color: #303a52;
            img {
                color: black;
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
        }
    }
    .tablecontent {
        // margin: 20px 120px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 3%;
        margin-right: 3%;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        hr {
            width: 100%;
            border-bottom: 1px solid #dddddd;
        }
        .tableing {
            // margin-left: 100px;
            // background-color: red;
            margin-top: 3%;
            border-collapse: separate;
            margin-left: 20%;
            margin-right: 20%;
            font-size: 0.9em;
            width: 750px;

            border-spacing: 0px 10px;

            .tablebody {
                .linerow {
                    .newtd {
                        hr {
                            border-bottom: 1px solid #dddddd;
                            width: 750px;
                            border-top: none;
                        }
                    }
                }

                .tablerow {
                    cursor: pointer;
                    text-align: left;
                    border-bottom: 1px solid #dddddd;
                    margin-top: 50px;
                    .tablerow:hover {
                        color: #333333;
                    }
                    .tablenumber {
                        width: 50px;

                        justify-content: center;
                        // background-color: blue;
                        // padding: 12px 15px;

                        color: #f7d046;
                        font-size: 32px;
                        // src: local("Poppins-Bold"), url("../../fonts/Poppins-Bold.ttf");
                        font-family: "Poppins-Bold";
                    }
                    .tableimage {
                        // background-color: #f7d046;
                        height: 120px;
                        width: 140px;
                        iframe {
                            border: none;
                            height: 120px;
                            width: 140px;
                        }
                        iframe:hover {
                            transition: 0.3s all ease-in-out;
                            // height: 200px;
                            // width: 300px;
                        }
                        // padding: 12px 15px;
                        img {
                            object-fit: cover;
                            width: 140px;
                            height: inherit;
                            border-radius: 5px;
                        }
                    }
                    .tableinfo {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 5px;

                        .tableartistinfo {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin-bottom: 10px;
                            .tableartistinfoname {
                                // font-family: Trebuchet MS, sans-serif;
                                // src: local("Poppins-Bold"), url("../../fonts/Poppins-Bold.ttf");
                                font-family: "Poppins-SemiBold";
                                font-size: 15px;
                                color: crimson;
                                font-weight: 400;
                            }
                            .tableartistinfosong {
                                font-size: 13px;
                                color: crimson;
                                font-weight: 300;
                                // font-family: Trebuchet MS, sans-serif;
                                src: local("Poppins-Light"), url("../../fonts/Poppins-Light.ttf");
                                font-family: "Poppins-Light";
                            }
                        }
                        hr {
                            border-bottom: 1px solid #dddddd;
                            border-top: none;
                            margin-top: 10px;
                        }
                        .tablepositoin {
                            display: flex;
                            align-items: center;

                            justify-content: space-between;
                            //    background-color: red;
                            .lastweekspositoin {
                                margin-left: 10px;
                                margin-right: 10px;
                                margin-top: 10px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .lastweeking {
                                    // font-family: Trebuchet MS, sans-serif;
                                    // src: local("Poppins-Light"), url("../../fonts/Poppins-Light.ttf");
                                    font-family: "Poppins-Regular";
                                    font-size: 13px;
                                    color: crimson;
                                    font-weight: 300;
                                }
                                .lastweekingnumb {
                                    // font-family: Trebuchet MS, sans-serif;
                                    // src: local("Poppins-Bold"), url("../../fonts/Poppins-Bold.ttf");
                                    font-family: "Poppins-SemiBold";
                                    font-size: 16px;
                                    color: crimson;
                                    font-weight: 400;
                                }
                            }
                            .verticalposition {
                                margin-left: 10px;
                                width: 1px;
                                background-color: #dddddd;
                                height: 70px;
                                float: left;
                                border-top: 1px solid;
                                border-bottom: none;
                            }
                        }
                    }
                    .tableicons {
                        // margin-left: 100px;
                        // display: flex;
                        // align-items: center;
                        // background-color: red;
                        height: inherit;

                        width: 100px;
                        transition: all 0.5s ease-in-out;
                        .divicons {
                            height: inherit;
                            transition: all 0.5s ease-in-out;
                            // background-color: red;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .socialicon {
                                margin-bottom: 22px;
                                color: crimson;
                            }

                            .secondicons {
                                // background-color: red;
                                display: none;

                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .socialinfo {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    width: 80px;
                                    border: 0.5px solid crimson;
                                    border-radius: 3px;
                                    margin-top: 10px;
                                    height: 25px;
                                    .socialiconone {
                                        color: crimson;
                                        font-size: 16px;
                                    }
                                    .info {
                                        margin-left: 2px;
                                        span {
                                            color: crimson;
                                            font-size: 11px;
                                        }
                                    }
                                }
                                .socialinfo:hover {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    width: 80px;
                                    background-color: crimson;
                                    // border: 0.5px solid crimson;
                                    border-radius: 3px;
                                    margin-top: 10px;
                                    height: 25px;
                                    .socialiconone {
                                        color: white;
                                        font-size: 16px;
                                    }
                                    .info {
                                        margin-left: 2px;
                                        span {
                                            color: white;
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .secarea {
                    // background-color: black;

                    .divide {
                        .embededdiv {
                            height: 400px;
                            width: 700px;
                        }
                        span {
                            margin-left: 20px;
                            color: crimson;
                            cursor: pointer;
                            font-size: 39px;
                            // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                        }
                    }
                }
                tr:hover {
                    background-color: #f8f8f8;
                }
            }
        }
    }
}
