.subscribe {
    display: flex;
    flex-direction: column;
    .sub {
        display: flex;
        align-items: center;
        justify-content: center;
        .borderd {
            margin-top: 20px;
            border: 1px solid #dddddd;
            height: 75vh;
            width: 30vw;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            .first {
                margin-top: 30px;
                span {
                    font-size: 30px;
                    font-family: "Poppins-Bold";
                    font-weight: 400;
                }
            }
            .second {
                margin-top: 20px;
                .textarea {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: inherit;

                    .texting {
                        z-index: 0;
                        width: 25vw;
                    }
                }
            }
            .third {
                margin-top: 20px;
                width: 15vw;
                height: 40px;
                border: 1px solid crimson;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    background-color: white;
                    border: none;
                    cursor: pointer;
                    color: crimson;
                    font-size: 20px;
                    font-family: "Poppins-Regular";


                }
            }
            .third:hover{
                margin-top: 20px;
                width: 15vw;
                height: 40px;
                border: none;
                background-color: crimson;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    background-color: crimson;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size: 20px;
                    font-family: "Poppins-Regular";


                }
            }
        }
    }
}
