@import "../../global.scss";
@media (max-width: 40em) {
    .navigation {
        max-width: 40em;
        // background-color: blue;
    }
}
.navigation {
    border-bottom: 1px solid #f7d046;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
        opacity: 0.7;
        z-index: 1;
    }
    @media (max-width:40em) {
        max-height: 60px;
        max-width: 40em;
        
        justify-content: center;
        // background-color: blue;  
    }
    //    top: 0px;
    // background-color:#040406;
    .inside {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 70em;
        // background-color: #f7d046;
        // margin-left: 10%;
        justify-content: space-between;
        @media (max-width:40em) {
            display: flex;
            align-items:center;
            // justify-content:start;
            justify-content:space-between;
            width: 95%;
            // min-width: none;
            // background-color: blue;  
        } 
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            // background-color: bisque;
            // padding: 5px 15px;
            padding: 0.2%;
            //    margin-left: 130px;

            // background-color: blue;
            @media (max-width:40em) {
                display: flex;
                align-items: center;
                justify-content: unset;
                // background-color: blue;
                // margin-left: 200px;
                padding: 0%;
                width: 40px;
                height: 40px;
            }
            
            img {
                object-fit: contain;
                margin-left: 5px;
                height: 50px;
                width: 50px;
                @include mobile{
                    // object-fit: cover;
                    margin-left: 6px;
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .info {
            margin-left: 240px;
            min-width: 400px;
            // background-color:black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:40em) {
                display: hidden;

                min-width: 12em;
                // margin-right: 200px;
                // max-width: 10em;
                // background-color: #f7d046;
                margin-left: 0px;
                display: flex;
                align-items: center;
                justify-content:space-between;
                
            }
            .single {
                margin-left: 20px;
                @media (max-width:40em) {
                    margin-left: 5px;
                    // margin-right: 100px;
                }
                span {
                    @media (max-width:40em) {
                        font-size: 11px;
                    }
                    
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    // src: url("../../fonts/Poppins-ExtraBold (1).ttf") format('truetype');
                    font-family: "Poppins-Regular";
                    // font-family: Arial, sans-serif;
                }
            }
            .sub {
                @media (max-width:40em){
                    margin-left: 5px;
                    width: 70px;
                    height: 20px;
                    display: flex;
                    align-items: unset;
                    justify-content: unset;
                }
                margin-left: 20px;
                border: 1px solid white;
                width: 100px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    @media (max-width:40em){
                        font-size: 11px;
                    }
                    background-color: inherit;
                    // font-family: Arial, sans-serif;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                }
            }
            .sub:hover {

                width: 100px;
                height: 30px;
                background-color: white;

                display: flex;
                align-items: center;
                @media (max-width:40em) {
                    width: 70px;
                    height: 20px;
                }
                button {
                    border: none;
                    cursor: pointer;
                    // font-family: Arial, sans-serif;
                    color: crimson;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                    @media (max-width:40em) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

