.navigation {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: crimson;
    display: flex;
    align-items: center;

    //    top: 0px;
    // background-color:#040406;
    .inside {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 1100px;
        // background-color: blueviolet;
        margin-left: 100px;
        justify-content: space-between;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            // background-color: bisque;
            // padding: 5px 15px;
            padding: 0.2%;
            //    margin-left: 130px;

            // background-color: blue;

            img {
                object-fit: contain;
                margin-left: 5px;
                height: 50px;
                width: 50px;
            }
        }
        .info {
            margin-left: 240px;
            width: 400px;
            // background-color:black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .single {
                margin-left: 20px;
                span {
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    // src: url("../../fonts/Poppins-ExtraBold (1).ttf") format('truetype');
                    font-family: "Poppins-Regular";
                    // font-family: Arial, sans-serif;
                }
            }
            .sub {
                margin-left: 20px;
                border: 1px solid white;
                width: 100px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    background-color: inherit;
                    font-family: Arial, sans-serif;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                }
            }
            .sub:hover {
                width: 100px;
                height: 30px;
                background-color: white;

                display: flex;
                align-items: center;
                button {
                    border: none;
                    cursor: pointer;
                    font-family: Arial, sans-serif;
                    color: crimson;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                }
            }
        }
    }
}
.bigger{
    width: 500px;
    height: 100vh;
    background-color: red;
}
