@import "../../global.scss";
@media (min-width: 40em) {
    .navigation {
    }
}
.navigation {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
        // background-color: aqua;
        max-height: 45px;
    }
    //    top: 0px;
    // background-color:#040406;
    .inside {
        display: flex;
        align-items: center;
        text-decoration: none;
        min-width: 70em;
        // 
        // margin-left: 10%;
        justify-content: space-between;
        @include mobile {
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            max-width: 40em;
            background-color: blueviolet;
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            // background-color: bisque;
            // padding: 5px 15px;
            padding: 0.2%;
            //    margin-left: 130px;

            // background-color: blue;
            @include mobile {
                max-width: 40px;
                max-height: 40px;
                // background-color: red;
            }
            img {
                object-fit: contain;
                margin-left: 5px;
                height: 50px;
                width: 50px;
                @include mobile{
                    max-width: 40px;
                    width: 40px;
                }
            }
        }
        .info {
            margin-left: 240px;
            min-width: 400px;
            // background-color:black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mobile{
                margin-left: 0px;
justify-content:end;

            }
            .single {
                margin-left: 20px;
                @include mobile{
                    margin-left: 5px;
                }
                span {
                    @include mobile{
                        font-size: 13px;
                    }
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    // src: url("../../fonts/Poppins-ExtraBold (1).ttf") format('truetype');
                    font-family: "Poppins-Regular";
                    // font-family: Arial, sans-serif;
                }
            }
            .sub {
                @include mobile{
                    margin-left: 5px;
                    max-width: 70px;
                }
                margin-left: 20px;
                border: 1px solid white;
                width: 100px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    @include mobile{
                        font-size: 13px;
                    }
                    background-color: inherit;
                    font-family: Arial, sans-serif;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                }
            }
            .sub:hover {
                width: 100px;
                height: 30px;
                background-color: white;

                display: flex;
                align-items: center;
                button {
                    border: none;
                    cursor: pointer;
                    font-family: Arial, sans-serif;
                    color: crimson;
                    font-size: 16px;
                    font-family: "Poppins-Regular";
                }
            }
        }
    }
}

