@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
  url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  src: local("Poppins-Thin"), url("./fonts/Poppins-Light.ttf");
  font-family: "Poppins-Thin";
}
@font-face {
  src: local("Poppins-SemiBold"), url("./fonts/Poppins-SemiBold.ttf");
  font-family: "Poppins-SemiBold";
}
@font-face {
  src: local("Poppins-Regular"), url("./fonts/Poppins-Regular.ttf");
  font-family: "Poppins-Regular";
}
@font-face {
  src: local("Poppins-Light"), url("./fonts/Poppins-Light.ttf"); 
  font-family: "Poppins-Light";
}
@font-face {
  src: local("Poppins-ExtraBold (1)"), url("./fonts/Poppins-ExtraBold\ \(1\).ttf");  
  font-family: "Poppins-ExtraBold (1)";
}
@font-face {
  font-family: "Rockids Regular";
  src: local("Rockids Regular"),url("./fonts/Rockids Regular.otf") format("opentype");
}
